{{ define "main" }}
<main>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    About
                    <span class="primary-text">Me</span>
                </h1>
                <p>My Curriculum Vitae</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 id="career" class="text-center">
            #<span class="primary-text">Career</span>
        </h2>
        <div class="timeline mt-3">
            <div class="timeline-item">
                <div class="timeline-date">2024</div>
                <div class="timeline-separator">
                    <div class="timeline-connector primary"></div>
                    <div class="timeline-dot primary"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Senior Data Architect</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Data Intelligence and Innovation @
                                <a href="https://bbraun.com" target="_blank"
                                    >B. Braun SE</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2021</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Functional Lead / Senior Manager eBusiness</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Global Marketing &amp; Sales Services @
                                <a href="https://bbraun.com" target="_blank"
                                    >B. Braun SE</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2019</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Global eCommerce Manager</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Global eCommerce @
                                <a href="https://bbraun.de" target="_blank"
                                    >B. Braun Melsungen AG</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2016</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Global Coordinator eShops</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Global eCommerce @
                                <a href="https://bbraun.de" target="_blank"
                                    >B. Braun Melsungen AG</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2014</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Enterprise Architect</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Information Technology @
                                <a href="https://bbraun.de" target="_blank"
                                    >B. Braun Melsungen AG</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2008</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>
                                Consultant for Databases &amp; IT-Project
                                Management
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>
                                Information Technology @
                                <a href="https://bbraun.de" target="_blank"
                                    >B. Braun Melsungen AG</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <h3 id="education" class="text-center mt-5 mb-3">
            #<span class="primary-text">Education</span>
        </h3>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-date">2013</div>
                <div class="timeline-separator">
                    <div class="timeline-connector primary"></div>
                    <div class="timeline-dot primary"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Bachelor of Arts (B.A.)</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                <a
                                    href="https://www.hessische-ba.de/"
                                    target="_blank"
                                    >Hessische Berufsakademie</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2012</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>Informatik-Betriebswirt (VWA)</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                <a
                                    href="https://www.vwa-gruppe.de/studienzentren/kassel.html"
                                    target="_blank"
                                    >Verwaltungs- und Wirtschafts-Akademie
                                    Kassel</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2011</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>IT-System-Ökonom (VWA)</h6>
                        </div>
                        <div class="card-body">
                            <p>
                                <a
                                    href="https://www.vwa-gruppe.de/studienzentren/kassel.html"
                                    target="_blank"
                                    >Verwaltungs- und Wirtschafts-Akademie
                                    Kassel</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2009</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>
                                Fachinformatiker für Systemintegration (IHK)
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>
                                <a href="https://www.rfes.de/" target="_blank"
                                    >Reichspräsident-Friedrich-Ebert-Schule</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2005</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <div class="card-header">
                            <h6>
                                Allgemeine Fachhochschulreife -
                                Wirtschaftsinformatik
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>
                                <a href="https://www.rfes.de/" target="_blank"
                                    >Reichspräsident-Friedrich-Ebert-Schule</a
                                >
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <h3 id="business-projects" class="text-center mt-5 mb-3">
            #<span class="primary-text">Business Projects</span>
        </h3>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-date">2025</div>
                <div class="timeline-separator">
                    <div class="timeline-connector primary"></div>
                    <div class="timeline-dot primary"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>NextGen Data Marketplace</h6>
                        <div class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            <span>Scrum Master</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2024</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>A.I. in Marketing & Sales</h6>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Project Lead
                        </span>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2021</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>Global eBusiness Channel Rollout</h6>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Project Lead
                        </span>
                        <span class="chip">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            SME
                        </span>
                    </article>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2021</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>Global Rollout B2B eShops</h6>
                        <span class="chip">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Project Lead
                        </span>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Product Owner
                        </span>
                        <span class="chip">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            SME
                        </span>
                    </article>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2016</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>Setup of Enterprise Architecture Management</h6>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            SME
                        </span>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2012</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>AIX to Linux OS Migration for Servers</h6>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Project Lead
                        </span>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2010</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>Infrastructure Consolidation of a Merger</h6>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Sub-Project Lead
                        </span>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2008</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <h6>Microsoft SQL Server as Standard RDBMS</h6>
                        <span class="chip">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            Product Owner
                        </span>
                        <span class="chip primary">
                            <svg>
                                <use href="#account_circle" />
                            </svg>
                            SME
                        </span>
                    </article>
                </div>
            </div>
        </div>

        <h3 id="trivia" class="text-center mt-5 mb-3">
            #<span class="primary-text">Trivia</span>
        </h3>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-date">Languages</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <ul class="timeline-list">
                            <li>
                                <span>Deutsch</span>

                                <progress value="100" max="100"></progress>
                            </li>
                            <li class="">
                                <span>English</span>

                                <progress value="90" max="100"></progress>
                            </li>
                            <li>
                                <span>Espanol</span>

                                <progress value="5" max="100"></progress>
                            </li>
                            <hr />
                            <li>
                                <span>JavaScript</span>

                                <progress value="80" max="100"></progress>
                            </li>
                            <li>
                                <span>CSS/SCSS</span>
                                <progress value="5" max="100"></progress>
                            </li>
                            <li>
                                <span>TypeScript</span>

                                <progress value="66" max="100"></progress>
                            </li>
                            <li>
                                <span>GoLang</span>

                                <progress value="33" max="100"></progress>
                            </li>
                            <li>
                                <span>PHP</span>

                                <progress value="66" max="100"></progress>
                            </li>
                            <li>
                                <span>SQL</span>

                                <progress value="66" max="100"></progress>
                            </li>
                            <li>
                                <span>Python</span>

                                <progress value="20" max="100"></progress>
                            </li>
                            <li>
                                <span>Bash</span>

                                <progress value="66" max="100"></progress>
                            </li>
                            <hr />
                            <li>
                                <span>HTML</span>

                                <progress value="100" max="100"></progress>
                            </li>
                            <li>
                                <span>Json</span>

                                <progress value="100" max="100"></progress>
                            </li>
                            <li>
                                <span>YAML</span>

                                <progress value="100" max="100"></progress>
                            </li>
                            <li>
                                <span>XML</span>

                                <progress value="66" max="100"></progress>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">Hobbies</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <ul class="timeline-list">
                            <li>
                                <span>Jogging</span>
                                <progress value="66" max="100"></progress>
                            </li>
                            <li>
                                <span>Hiking</span>

                                <progress value="80" max="100"></progress>
                            </li>
                            <li>
                                <span>Rawing</span>

                                <progress value="20" max="100"></progress>
                            </li>
                            <hr />
                            <li>
                                <span>Reading</span>

                                <progress value="90" max="100"></progress>
                            </li>
                            <li>
                                <span>Programming</span>

                                <progress value="90" max="100"></progress>
                            </li>
                            <li>
                                <span>Guitar Playing</span>

                                <progress value="20" max="100"></progress>
                            </li>
                            <li>
                                <span>Music Production</span>

                                <progress value="20" max="100"></progress>
                            </li>
                            <li>
                                <span>Video Editing</span>

                                <progress value="30" max="100"></progress>
                            </li>
                            <li>
                                <span>MakerProjects</span>

                                <progress value="30" max="100"></progress>
                            </li>
                            <hr />
                            <li>
                                <span>Yoga</span>

                                <progress value="25" max="100"></progress>
                            </li>
                            <li>
                                <span>Meditation</span>

                                <progress value="20" max="100"></progress>
                            </li>
                            <hr />
                            <li>
                                <span>Rummkikub</span>

                                <progress value="30" max="100"></progress>
                            </li>
                            <li>
                                <span>Backgammon </span>

                                <progress value="30" max="100"></progress>
                            </li>
                            <li>
                                <span>Chess</span>

                                <progress value="10" max="100"></progress>
                            </li>
                            <li>
                                <span>Civilization</span>

                                <progress value="98" max="100"></progress>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">Certifications</div>
                <div class="timeline-separator">
                    <div class="timeline-connector"></div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-content">
                    <article>
                        <ul class="timeline-list">
                            <li>Driving License - Class B</li>
                            <li>DB Administration - Microsoft and Oracle</li>
                            <li>Licensing - Microsoft</li>
                            <li>Project Management - SCRUM</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="fab">
        <button class="fabbtn" onclick="scrollToTop()">
            <svg>
                <use href="#arrow_shape_up_stack_2" />
            </svg>
        </button>
    </div>
</main>
{{ end }}
