table {
    display: block;
    overflow-x: scroll;
    inline-size: 100%;
    border-spacing: 0;
    font-size: 0.875rem;
    text-align: start;
    margin-top: 24px;
    margin-bottom: 24px;
}

table :is(thead, tbody, tfoot, tr, th, td) {
    background-color: inherit;
    color: inherit;
}

table :is(th, td) {
    padding: 0.75rem;
}

thead > tr > th {
    border-block-end: 0.0625rem solid var(--outline);
}

table > tbody > tr:nth-child(2n + 1) {
    background-color: rgba(128, 128, 128, 0.192);
}
th {
    white-space: nowrap;
}
td {
    word-break: keep-all;
    white-space: nowrap;
}
