* {
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 64px;
    word-wrap: break-word;
    background-color: var(--color-lighter);
    color: var(--color-dark);
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.invert-color {
    filter: invert(100%);
}

.content-index-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.content-index-item {
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.2;
}
.content-index-item:hover {
    color: var(--color-primary);
}
.content-index-item.active {
    color: var(--color-primary);
    font-weight: bold;
    background-color: rgba(var(--color-primary-rgb), 0.1); /* Optional background highlight */
}

.level-h3 {
    padding-left: 8px;
}

section {
    min-height: calc(100vh - 78px);
    background: var(--color-light);
    border-radius: 24px;
    margin: 6px;
}

.container {
    display: grid;
}

.text-center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-blog-list {
    width: 100%;
}

.flex-blog-nav {
    width: 100%;
    display: none;
}

.flex-item-3 {
    flex-grow: 1;
    flex-basis: 33%;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

.flex-item-blog {
    width: 100%
}

.align-items-center {
    align-content: center;
}

.justify-content-center {
    justify-content: center;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.post-container {
    padding: 24px;
    background: var(--color-light);
    border-radius: 12px;
}

.position-fixed {
    position: fixed;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentcolor;

}

.border-circle {
    border: 1px solid currentcolor;
    border-radius: 50% !important;
    aspect-ratio: 1;
    padding: 4px;
    width: 32px;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.vw-100 {
    width: 100vw;
}

.w-100 {
    width: 100%;
}

.m {
    margin: calc(var(--spacing-unit) * var(--m-scale, 1));
}

.m-auto {
    margin: auto;
}

.mx {
    margin-left: calc(var(--spacing-unit) * var(--mx-scale, 1));
    margin-right: calc(var(--spacing-unit) * var(--mx-scale, 1));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my {
    margin-top: calc(var(--spacing-unit) * var(--my-scale, 1));
    margin-bottom: calc(var(--spacing-unit) * var(--my-scale, 1));
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mt {
    margin-top: calc(var(--spacing-unit) * var(--mt-scale, 1));
}

.mt-auto {
    margin-top: auto;
}

.mb {
    margin-bottom: calc(var(--spacing-unit) * var(--mb-scale, 1));
}

.mb-auto {
    margin-bottom: auto;
}

.ms {
    margin-left: calc(var(--spacing-unit) * var(--ms-scale, 1));
}

.ms-auto {
    margin-left: auto;
}

.me {
    margin-right: calc(var(--spacing-unit) * var(--me-scale, 1));
}

.me-auto {
    margin-right: auto;
}

.p {
    padding: calc(var(--spacing-unit) * var(--p-scale, 1));
}

.p-auto {
    padding: auto;
}

.px {
    padding-left: calc(var(--spacing-unit) * var(--px-scale, 1));
    padding-right: calc(var(--spacing-unit) * var(--px-scale, 1));
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}

.py {
    padding-top: calc(var(--spacing-unit) * var(--py-scale, 1));
    padding-bottom: calc(var(--spacing-unit) * var(--py-scale, 1));
}

.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.pt {
    padding-top: calc(var(--spacing-unit) * var(--pt-scale, 1));
}

.pt-auto {
    padding-top: auto;
}

.pb {
    padding-bottom: calc(var(--spacing-unit) * var(--pb-scale, 1));
}

.pb-auto {
    padding-bottom: auto;
}

.ps {
    padding-left: calc(var(--spacing-unit) * var(--ps-scale, 1));
}

.ps-auto {
    padding-left: auto;
}

.pe {
    padding-right: calc(var(--spacing-unit) * var(--pe-scale, 1));
}

.pe-auto {
    padding-right: auto;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .flex-container,
    .flex-container-reverse {
        flex-direction: column;
    }

    .block-blog-nav, .block-post-nav {
        width: 80vw;
        height: 100vh;
        display: block;
        right: 0;
        top: 0;
        position: fixed;
        background: var(--color-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-blog-list {
        width: 100%;
    }

    .block-blog-nav, .block-post-nav {
        width: 40vw;
        height: 100vh;
        display: block;
        right: 0;
        top: 0;
        position: fixed;
        background: var(--color-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

    .d-sm-none {
        display: none !important;
    }

    .d-sm-flex {
        display: flex !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .flex-item-blog {
        width: 50%
    }

    .d-sm-none,
    .d-md-none {
        display: none !important;
    }

    .d-sm-flex,
    .d-md-flex {
        display: flex !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .block-blog-nav, .block-post-nav {
        width: 25vw;
    }

    main {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item-blog {
        width: 33.3%
    }

    .d-sm-none,
    .d-md-none,
    .d-lg-none {
        display: none !important;
    }

    .d-sm-flex,
    .d-md-flex,
    .d-lg-flex {
        display: flex !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .d-sm-none,
    .d-md-none,
    .d-lg-none,
    .d-xl-none {
        display: none !important;
    }

    .d-sm-flex,
    .d-md-flex,
    .d-lg-flex,
    .d-xl-flex {
        display: flex !important;
    }
}