{{ define "main" }}

<div class="post-container my" style="--my-scale: 20;">
    <div class="d-block text-center">
        <h1>404 - Oops!</h1>
        <p>Die von Dir angeforderte Seite konnte leider nicht gefunden werden.<br>
            Bitte überprüfe die URL auf Tippfehler und versuche es erneut.
        </p>
        <div class="mt" style="--mt-scale: 8" role="group">
            <a role="button" href="/" class="btn btn-outlined me" style="--me-scale: 2">Home</a>
            <a role="button" href="/search" class="btn btn-filled">Suche</a>
        </div>
    </div>
</div>
{{ end }}