<style>
    :root,[data-ui-theme="light"] {
        --spacing-unit: 0.25rem;
        --font-size: 16px;
        --color-primary-r: 184;
        --color-primary-g: 5;
        --color-primary-b: 5;
        --color-primary: rgb(var(--color-primary-r), var(--color-primary-g), var(--color-primary-b));
        --color-primary-hex: #b80505;
        --color-secondary: #79747E;
        --color-light: #f8f1f6;
        --color-lighter: #fefbff;
        --color-dark: #1c1b1d;
        --color-darker: #141314;
        --color-gray: #9E9E9E;
        --color-darkgray: #3a3a3a;
        --color-shadow: rgba(0, 0, 0, 0.3);
    }

    :root[data-ui-theme=dark] {
        --color-light: #1c1b1d;
        --color-lighter: #141314;
        --color-dark: #f8f1f6;
        --color-darker: #fefbff;
        --color-shadow: rgba(0, 0, 0, 0.5);
    }

/*
    :root,
    [data-ui-theme="light"] {
        --main-bg-color: var(--color-lighter);
        --main-text-color: var(--color-dark);
        --main-nav-bg: var(--color-lighter);
        --main-footer-color: var(--color-dark);
        --main-primary-color:var(--color-primary);
        --main-card-bg: var(--color-light);
        --md-sys-color-primary: #6750A4;
        --md-sys-color-on-primary: #FFFFFF;
        --md-sys-color-outline: #79747E;
        --md-sys-color-surface: #FFFFFF;
        --md-sys-color-on-surface: #1D1B20;
        --md-sys-color-surface-variant: rgba(0, 0, 0, 0.08);
    }

    :root[data-ui-theme=dark] {
        --main-bg-color: #141314;
        --main-text-color: #e6e1e3;
        --main-nav-bg: #141314;
        --main-footer-color: #fefbff;
        --main-primary-color: rgb(229, 0, 0);
        --main-card-bg: #1c1b1d;
    }
        */
</style>