{{ define "main" }}
          <main>
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-xl-3 d-none d-xl-block">
                          <article class="sticky side-nav-inner" id="wiki-nav" aria-label="Wiki navigation">
                              <a href="/wiki">
                                  <div>
                                      <h6>Navigation</h6>
                                  </div>
                              </a>
                              <nav id="WikiContent">
                                  {{ partial "wiki-nav.html" . }}
                              </nav>

                          </article>
                      </div>
                      <div class="col-12 col-lg-9 col-xl-6">

                          <article class="mb-2">
                              <nav>
                                  <a href="/wiki"><span>Wiki</span></a>
                                  <span>></span>
                                  {{ range $p := .Ancestors.Reverse }}
                                  {{ if and (ne $p.Kind "home") (ne $p.RelPermalink "/wiki/") }}
                                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                  <span>></span>
                                  {{ end }}
                                  {{ end }}
                                  <span>{{ .Title }}</span>
                              </nav>
                          </article>
                          <article class="post-content">
                              <h1 class="mb-0">{{ .Title }}</h1>
                              <div class="mb-3 secondary-text small">
                                  Veröffentlicht: {{ .Date.Format "02.01.2006" }} {{ if
                                  .Lastmod }} | Aktualisiert: {{ .Lastmod.Format "02.01.2006"
                                  }} {{ end }}
                              </div>
                              <div class="post-content">{{ .Content }}</div>
                          </article>
                      </div>
                      <div class="col-12 col-lg-3 d-none d-lg-block">
                          <article class="sticky side-nav-inner">
                              <a href="#">
                                  <div>
                                      <h6>Inhalt</h6>
                                  </div>
                              </a>
                              {{ .TableOfContents }}
                          </article>
                      </div>
                  </div>
              </div>
          </main>


{{ end }}
