{{ define "main" }}
<div class="position-fixed bottom-0 right-0">
  <a href="#top" type="button"
    class="btn btn-circle p mb me"
    style="--p-scale: 0; --mb-scale: 4; --me-scale: 4" alt="nach oben">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
    </svg>
  </a>
</div>

<section id="hero-section" class="flex-container">
  <div class="flex-item-left align-items-center justify-content-center">
    <img src="/images/hero.webp" srcset="/images/hero_small.webp 320w, /images/hero.webp 640w" sizes="100vw"
      class="img-fluid" alt="Niklas Stephan" />
  </div>
  <div class="flex-item-right align-items-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="fs" style="--fs-scale: 4">NIKLAS STEPHAN</h1>
        <h2>Innovation Architect</h2>
        <div class="mt" style="--mt-scale: 8" role="group">
          <a role="button" href="#cv-section" class="btn btn-outlined me" style="--me-scale: 2">Über mich</a>
          <a role="button" href="blog" class="btn btn-filled">zum Blog</a>
     
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cv-section" class="flex-container-reverse">
  <div class="flex-item-left align-items-center justify-content-center">
    <img src="/images/cv.webp" srcset="/images/cv_small.webp 320w, /images/cv.webp 640w" sizes="100vw" class="img-fluid"
      alt="cv" />
  </div>
  <div class="flex-item-right align-items-center justify-content-center">
    <div class="text-center">
      <h2 class="text-fingerpaint fs mb" style="--fs-scale: 4;--mb-scale: 8">#CV</h2>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Senior Data Architect</div>
        <div>
          Data Intelligence & Data Innovation @
          <a href="https://bbraun.com" target="_blank"> B. Braun SE </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2024</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Functional Lead / Senior Manager eBusiness</div>
        <div>
          Global Marketing &amp; Sales Services @
          <a href="https://bbraun.com" target="_blank"> B. Braun SE </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2021</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Global eCommerce Manager</div>
        <div>
          Global eCommerce @
          <a href="https://bbraun.de" target="_blank">
            B. Braun Melsungen AG
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2019</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Global Coordinator eShops</div>
        <div>
          Global eCommerce @
          <a href="https://bbraun.de" target="_blank">
            B. Braun Melsungen AG
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2016</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Enterprise Architect</div>
        <div>
          Information Technology @
          <a href="https://bbraun.de" target="_blank">
            B. Braun Melsungen AG
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2014</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Inhouse Consultant for Databases &amp; IT-Project Management
        </div>
        <div>
          Information Technology @
          <a href="https://bbraun.de" target="_blank">
            B. Braun Melsungen AG
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2008</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
    </div>
  </div>
</section>
<section id="edu-section" class="flex-container">
  <div class="flex-item-left align-items-center justify-content-center">
    <img src="/images/edu.webp" srcset="/images/edu_small.webp 320w, /images/edu.webp 640w" sizes="100vw"
      class="img-fluid" alt="edu" />
  </div>
  <div class="flex-item-right align-items-center justify-content-center">
    <div class="text-center">
      <h2 class="text-fingerpaint fs" style="--fs-scale: 4; --mb-scale: 8;">#Education</h2>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2013</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Bachelor of Arts (B.A.)</div>
        <div>
          <a href="https://www.hessische-ba.de/" target="_blank">
            Hessische Berufsakademie
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2012</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Informatik-Betriebswirt (VWA)</div>
        <div>
          <a href="https://www.vwa-gruppe.de/studienzentren/kassel.html" target="_blank">
            Verwaltungs- und Wirtschafts-Akademie Kassel
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2011</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">IT-System-Ökonom (VWA)</div>
        <div>
          <a href="https://www.vwa-gruppe.de/studienzentren/kassel.html" target="_blank">
            Verwaltungs- und Wirtschafts-Akademie Kassel
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2009</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Fachinformatiker für Systemintegration (IHK)</div>
        <div>
          <a href="https://www.rfes.de/" target="_blank">
            Reichspräsident-Friedrich-Ebert-Schule
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2005</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Allgemeine Fachhochschulreife - Wirtschaftsinformatik
        </div>
        <div>
          <a href="https://www.rfes.de/" target="_blank">
            Reichspräsident-Friedrich-Ebert-Schule
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2002</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
    </div>
  </div>
</section>
<section id="projects-section" class="flex-container-reverse">
  <div class="flex-item-left align-items-center justify-content-center">
    <img src="/images/projects.webp" srcset="/images/projects_small.webp 320w, /images/projects.webp 640w" sizes="100vw"
      class="img-fluid" alt="projects" />
  </div>
  <div class="flex-item-right align-items-center justify-content-center">
    <div class="text-center">
      <h2 class="text-fingerpaint fs" style="--fs-scale: 4; --mb-scale: 8;">#Projects</h2>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2025</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          A.I. in Marketing, Sales and Customer Services
          <span class="badge">Project Lead</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2024</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Global Rollout of eBusiness digital order entry channels
          <span class="badge">Project Lead </span>
            <span class="badge">Expert </span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2021</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Global Rollout B2B eShops
          <span class="badge">Project Lead</span>
            <span class="badge">Expert</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2016</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Setup of Enterprise Architecture Management
          <span class="badge">Project Member</span>
          <span class="badge">Expert</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2014</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Migration to Linux as Corporate Standard OS for Servers
          <span class="badge">Project Lead</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2012</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Infrastructure Consolidation and Virtualization of Subsidiary Roth
          <span class="badge">Sub-Project Lead</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2010</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">
          Microsoft SQL Server as Corporate Standard RDBMS
          <span class="badge">Project Lead</span>
          <span class="badge">Expert</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle">2008</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
    </div>
  </div>
</section>
<section id="trivia-section" class="flex-container">
  <div class="flex-item-left align-items-center justify-content-center">
    <img src="/images/trivia.webp" srcset="/images/trivia_small.webp 320w, /images/trivia.webp 640w" sizes="100vw"
      class="img-fluid" alt="trivia" />
  </div>
  <div class="flex-item-right align-items-center justify-content-center">
    <div class="text-center">
      <h2 class="text-fingerpaint fs" style="--fs-scale: 4; --mb-scale: 8;">#Trivia</h2>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle"> </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Sprachen</div>
        <div>Deutsch, Englisch, JavaScript, SQL, HTML, CSS, TypeScript, PHP, Python</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle "></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Fahrerlaubnis</div>
        <div>Klasse B, öffentlicher Nah- und Fernverkehr :-)</div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="border-circle "></div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="vr"></div>
      </div>
      <div class="text-center">
        <div class="fs" style="--fs-scale: 1.5;">Zertifikate</div>
        <div>Vielfältige Zertifikate aus dem Bereich Projektmanagement, eBusiness, IT und Webentwicklung</div>
      </div>
    </div>
  </div>
</section>

{{ end }}