{{ define "main" }}
<div class="position-fixed bottom-0 right-0">
  <a href="#top" type="button"
    class="btn btn-circle p mb me"
    style="--p-scale: 0; --mb-scale: 4; --me-scale: 4" alt="nach oben">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
    </svg>
  </a>
</div>

<div class="post-container">
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          Home
        </a>
      </li>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right mx"
        style="--mx-scale:2;" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
      </svg>
      <li class="breadcrumb-item active" aria-current="page">
        {{ .Title }}
      </li>
    </ul>
  </nav>
  <h1 class="fs" style="--fs-scale: 3;">{{ .Title }}</h1>

  {{ .Content }}
</div>

{{ end }}